<h1>GRATZ !</h1>
<p>T'as réussi à afficher l'index de lists ... go afficher BL et WL maintenant, si tu n'y arrive pas, tu es un <strong>ROY</strong> !</p>

<div class="blacklist">
  <%= List.first.name.upcase %>
</div>

<div class="whitelist">
  <%= List.last.name.upcase %>
</div>