<div class="container">
  <div class="lists-container">

    <div class="inline-menu">
      <% @user.lists.each do |list| %>
        <h2><%= link_to "#{list.name.upcase} (#{list.players.count})", lists_path(@list), class:'list-selection-btn' %></h2>
      <% end %>
    </div>

    <%= render file: 'lists/show' %>

  </div>
</div>
