<h1>EORZEA LIST</h1>

<% @lists.each do |list| %>
  <h2><%= list.name.upcase %> (<%= list.players.count %>)</h2>
  <% if list.players.count == 0 %>
    <p>Uh oh... This list seems empty...</p>
  <% else %>
    <% list.players.each do |player| %>
      <p><%= player.name %> - <%= player.server %></p>
    <%end%>
  <% end %>
<% end %>
