// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// EORZEA LIST COLORS
$dark-blue: #181820;
$light-blue: #21212B;
$pale-white: #F3F4FB;
$pale-red: #FE646F;
$pale-green: #60B9B1;
