// Specific CSS for your home-page

// SIDES CONTAINER SETTINGS
.sides-container {
  display: flex;
  background-image: asset-url('background.jpg');
  background-size: cover;
}

// WHITE SIDE & BLACK SIDE BASICALS SETTINGS
.white-side, .black-side {
  width: 50%;
  height: 100vh;
  background-color: transparent;
  padding: 24px;
}

.white-side-content, .black-side-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  h2 {
    font-size: 80px;
    letter-spacing: 16px;
    font-weight: 800;
  }

  p {
    color: #F3F4FB;
    font-size: 16px;
    letter-spacing: 2px;
  }
}

.white-side-content h2 {
  text-align: right;
}

.white-side-title, .black-side-title {
  height: 200px;
}

.black-side-title {
  display: flex;
  align-items: end;
}
