<div class="sides-container">

  <!-- WHITE SIDES -->
  <div class="white-side">
    <div class="white-side-content">

      <div class="white-side-title">
        <h2 style="color: #F3F4FB">E<span style="color: #FF5151">O</span>RZEA</h2>
      </div>

      <div class="white-side-character-search">
        <p>Enter character's name you want to add to your white list</p>

        <div class="white-list-search-bar">
          <input type="text" placeholder="Character's name" class="white-list-search-character">
          <input type="submit" value="WHITE LIST" class="white-list-btn">
        </div>

      </div>
    </div>
  </div>
  
  <!-- BLACK SIDES -->
  <div class="black-side">
    <div class="black-side-content">

      <div class="black-side-title">
        <h2 style="color: #FF5151">LIST</h2>
      </div>

      <div class="black-side-character-search">
        <p>Enter character's name you want to add to your black list</p>

        <div class="black-list-search-bar">
          <input type="text" placeholder="Character's name" class="black-list-search-character">
          <input type="submit" value="BLACK LIST" class="black-list-btn">
        </div>

      </div>
    </div>
  </div>

</div>
