<div class="container">
 <h1>Eorzea List</h1>

<%= link_to 'link Sign in with Discord', user_discord_omniauth_authorize_path, method: :post, class: 'btn btn-secondary' %>
<%= button_to 'button Sign in with Discord', user_discord_omniauth_authorize_path, class: 'btn btn-secondary' %>

</div>



