<div class="sides-container">

  <div class="white-side-content">
    <h1>E<span style="color: #FF5151">O</span>RZEA</h1>
    <div class="white-side-character-search">
      <p>Enter character's name you want to add to your white list</p>
      <div class="white-list-search-bar">
        <input type="text" placeholder="Character's name" class="white-list-search-character">
        <input type="submit" value="WHITE LIST" class="white-list-btn">
      </div>
    </div>
  </div>
  
  <div class="black-side-content">
    <h1 style="color: #FF5151">LIST</h1>
    <div class="black-side-character-search">
      <p>Enter character's name you want to add to your black list</p>
      <div class="black-list-search-bar">
        <input type="text" placeholder="Character's name" class="black-list-search-character">
        <input type="submit" value="BLACK LIST" class="black-list-btn">
      </div>
    </div>
  </div>

</div>
