<div class="container">
  <p>Edit player</p>

  <%= simple_form_for [ @list, @player ] do |f| %>
    <%= f.input :name %>
    <%= f.input :server %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>

</div>
