<div class="container">
  <p>create player</p>

  <%= simple_form_for [ @list, @player ] do |f| %>
    <%= f.input :name %>
    <%= f.input :server %>
    <%= f.submit @list.name, class: "btn btn-primary" %>
  <% end %>

</div>
