//BUTTON EORZEA LIST
#btn-home {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 4px;
  color: #F3F4FB;
}

//BUTTON LISTS
.lists-btn {
  font-size: 16px;
  color: #F3F4FB;
  transition-duration: .4s;
  font-weight: 400;

  &:hover {
    color: #F3F4FB;
    opacity: .4;
    text-decoration: none;
  }

  .fa-list {
    margin-right: 16px;
    color: #F3F4FB;
  }
}

//BUTTON DISCORD
.btn-discord {
  display: flex;
  align-items: center;
  color: #F3F4FB;
  font-size: 16px;
  background-color: #5661F5;
  padding: 8px 16px;
  border-radius: 4px;
  letter-spacing: 1px;

  &:hover {
    color: #F3F4FB;
    text-decoration: none;
    cursor: pointer;
    background-color: #444CC2;
  }

  .fa-discord {
    font-size: 24px;
    margin-right: 8px;
  }
}
