// CHARACTERS'S CARD
.character-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $pale-white;
  background-color: $light-blue;
  padding: 24px;
  border-radius: 4px;
}

.character-card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.character-card-info {
  display: flex;
  align-items: center;
  width: 100%;
}

.character-card-info p {
  color: rgba(243, 244, 251, .4);
  width: 40%;
}

// CHARACTER'S CARD BTN
.website-btn {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

#fflogs-btn, #lodestone-btn {
  color: $pale-white;
  padding: 4px;
  border-radius: 4px;
}

#fflogs-btn {
  background-color: $pale-red;
}

#lodestone-btn {
  background-color: $pale-green;
}

// ACTION BTN
.character-card-actions {
  text-align: end;
}
.action-btn {
  color: $pale-white;
  background-color: $pale-red;
  padding: 4px 32px;
  border-radius: 4px;

  &:hover {
    color: $pale-white;
    text-decoration: none;
  }
}
