// NAVBAR BASICALS SETTINGS
.navbar {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: rgba(33, 33, 43, .2);
  
  li {
    list-style: none;
  }
}

// DROPDOWN MENU NAVBAR AVATAR
.dropdown-menu {
  background-color: #21212B;
  width: 100%;
  height: auto;
  padding: 16px 0;
  border-radius: 4px;
  
  .dropdown-item {
    color: #F3F4FB;
    font-size: 16px;

    &:hover {
      color: #F3F4FB;
      background-color: #181820;
    }
  }
}
