.navbar {
  height: 120px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    h1 {
      font-weight: bold;
      letter-spacing: 4px;
    }
}

.username-discriminator {
  font-size: 16px;
}
